---
import Layout from "@/layouts/layout.astro";
import Card from "@/components/ui/Card.astro";
import Button from "@/components/ui/Button.astro";
import silhouette from "@/../public/silhouette_transparent.png";
import { Image } from "astro:assets";
import { ArrowUpRight } from "lucide-astro";
import { Github, Twitter, Mail, Linkedin } from "lucide-react";
import { Icon } from "astro-icon";
---

<Layout
  title="slanted.dev"
  pageDesc="Personal website and portfolio for Garrett Huggins aka slanted_dev."
>
  <div
    class="gap-4 space-y-4 md:grid md:auto-rows-[180px] md:grid-cols-6 md:space-y-0"
  >
    <!-- HOME -->
    <Card id="home" grid="col-span-4 row-span-2">
      <div class="relative h-full w-full">
        <h2
          class="inline-block bg-gradient-to-r from-highlight-muted to-highlight-dark bg-clip-text text-5xl text-transparent dark:to-highlight"
        >
          Welcome
        </h2>
        <p class="z-[1] md:text-lg">
          Hello, I'm <b>Garrett Huggins</b> and I like to build things. I'm a
          software developer with a passion for bringing ideas to life.
        </p>
        <Button
          href="https://github.com/garrett-huggins"
          className="absolute bottom-4 left-4 hidden px-10 py-6 md:block"
        >
          <div class="flex">
            <p class="text-xl">Github</p>
            <ArrowUpRight class="ml-4" />
          </div>
        </Button>
        <Image
          src={silhouette}
          alt="silhouette of Garrett Huggins"
          class="absolute -bottom-4 -right-6 z-0 h-[100px] w-[100px] opacity-30 md:h-[200px] md:w-[200px] md:opacity-100"
        />
      </div>
    </Card>
    <!-- ABOUT ME -->
    <Card id="about" grid="col-span-2 row-span-3 space-y-3" title="About Me">
      <p>
        I'm a front-end software developer with 3+ years of experience and I
        enjoy working with the latest technologies.
      </p>
      <p>
        I'm currently pursuing my undergraduate degree in Information Technology
        with a concentration in application development.
      </p>
      <p>
        Besides working in the web, I'm also passionate about game development
        and music. I also collect vintage and rare playing cards.
      </p>
      <p>
        I spend most of my time in the terminal or rummaging through
        documentation.
      </p>
    </Card>
    <!-- CONTACT -->
    <Card id="contact" grid="col-span-2 overflow-hidden" title="Contact">
      <div class="lg grid h-full w-full gap-3 overflow-y-auto lg:grid-cols-2">
        <Button
          href="https://github.com/garrett-huggins"
          className="flex w-full"
        >
          <Github className="mr-2" />
           Github
        </Button>
        <Button href="https://twitter.com/slanted_dev" className="flex w-full">
          <Twitter className="mr-2" />Twitter
        </Button>
        <Button
          href="https://www.linkedin.com/in/garretthuggins"
          className="flex w-full"
        >
          <Linkedin className="mr-2" />LinkedIn
        </Button>
        <Button href="mailto:garrett@slanted.dev" className="mb-8 flex w-full">
          <Mail className="mr-2" />Email
        </Button>
      </div>
    </Card>
    <!-- RESUME -->
    <Card id="resume" href="/resume" grid="col-span-2" title="Resume">
      <p>View my resume.</p>
    </Card>
    <!-- BLOG -->
    <Card
      id="blog"
      href="https://blog.slanted.dev"
      grid="col-span-4 row-span-2"
      title="Blog"
    >
      <p>Read my thoughts on various topics.</p>
    </Card>
    <!-- PROJECTS -->
    <Card id="projects" grid="col-span-2 row-span-2 space-y-2" title="Projects">
      <div class="w-full">
        <p class="text-lg">tcli</p>
        <hr />
        <p>
          A locally installed CLI package for starting projects the quick way.
        </p>
        <Button
          href="https://github.com/garrett-huggins/tcli"
          className="mt-2 w-full p-1"
        >
          Github
        </Button>
      </div>
      <div class="w-full">
        <p class="text-lg">Quizlet Clone</p>
        <hr />
        <p>A website for creating virtual flashcards to help students study.</p>
        <div class="mt-2 flex justify-between space-x-2">
          <Button href="" className="w-full p-1">Github</Button>
          <Button href="" className="w-full p-1">Demo</Button>
        </div>
      </div>
    </Card>
    <!-- COLLECTIONS -->
    <Card
      id="collections"
      href="/collections"
      grid="col-span-3"
      title="Collections"
    >
      <p>
        A collection of code snippets, useful tools, and anything else tech
        related that I find interesting.
      </p>
    </Card>
    <!-- STACK -->
    <Card id="stack" grid="col-span-3" title="Stack">
      <p>View my current stack.</p>
      <div class="mt-4 flex flex-wrap items-center justify-center">
        <Icon name="vscode-icons:file-type-vscode" class="w-16 p-2" />
        <Icon name="vscode-icons:file-type-reactjs" class="w-16 p-2" />
        <Icon name="vscode-icons:file-type-node" class="w-16 p-2" />
        <Icon
          name="vscode-icons:file-type-typescript-official"
          class="w-14 px-2"
        />
        <Icon name="vscode-icons:file-type-html" class="w-16 p-2" />
        <Icon name="vscode-icons:file-type-css" class="w-16 p-2" />
      </div>
    </Card>
  </div>
</Layout>
