---
import Layout from "@/layouts/layout.astro";
import Card from "@/components/ui/card.astro";
import Button from "@/components/ui/button.astro";
---

<Layout title="resume | slanted.dev" pageDesc="Garrett Huggins Resume">
  <Card>
    <h2
      class="inline-block bg-gradient-to-r from-highlight-muted to-highlight-dark bg-clip-text text-5xl text-transparent dark:to-highlight"
    >
      Resume
    </h2>
    <p>Coming soon...</p>
  </Card>
  <div class="mt-2">
    <Button className="w-full" href="/files/Garrett_Huggins_Resume.pdf">
      Download Resume
    </Button>
  </div>
</Layout>
