---
import ToggleIcon from "./ToggleIcon.astro";
import MenuButton from "./MenuButton";
---

<header class="mx-auto flex max-w-screen-xl justify-between p-4">
  <h1 class="text-2xl font-bold">slanted.dev</h1>
  <div class="flex h-full items-center">
    <ToggleIcon />
    <!-- button to open up # nav to the different sections -->
    <MenuButton client:load />
  </div>
</header>
