---
import "@/styles/globals.css";
import "@fontsource/poppins";
import Header from "@/components/header.astro";
interface Props {
  title: string;
  pageDesc: string;
}
const { title, pageDesc } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="scroll-smooth transition-colors duration-300 ease-in-out"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDesc} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-text dark:text-d-text">
    <Header />
    <main class="mx-auto max-w-screen-xl px-4">
      <slot />
    </main>
  </body>
</html>
